.topbar-main{
    user-select: none; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(35, 35, 35, 0.63);
    backdrop-filter: blur(10px);
    height: 2rem;
    width: 100vw;
    padding: 0;
    margin: 0;
    top:0;
    left: 0;
    color: white;
    border-bottom: 0.1px solid rgba(130, 130, 130, 0.3);
}

.topbar-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0.5rem;
}

.apple-logo{
    display: flex;
    justify-content: center;
    width: 1.5rem;
    border-radius: 2px;
    padding: 8px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.apple-logo:hover{
    background-color: rgba(255,255,255,0.3);
}

.apple-logo img{
    height: 1rem;
}

.tab{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    padding: 8.5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.8rem;
}

.tab:hover{
    background-color: rgba(255,255,255,0.3);
}

.topbar-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 0.5rem;
}